<!--[if lt IE 9]>
<style type="text/css">
.m-ie { width:960px;margin:0 auto;padding:10px;font-size:14px;line-height:24px;color:#454545;font-family:'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif; } .m-ie a { text-decoration:none;color:#0072c6; } .m-ie a:hover { text-decoration:none;color:#004d8c; } .m-ie-clean{clear:both;} .m-ie-browser{ padding:10px 0; } .m-ie-browser:after { content: ' '; display: block; clear: both; } .m-ie-browser li{width:118px;height:40px;line-height:22px;float:left;list-style:none;padding-left:40px;background-size: 40px 40px; background-repeat: no-repeat} .m-ie-browser li a{line-height: 40px; padding-left: 1em;} .m-ie-browser .m-ie-firefox{background-image: url(/m/ie/firefox.png);} .m-ie-browser .m-ie-chrome{background-image: url(/m/ie/chrome.png);} .m-ie-browser .m-ie-qq{background-image: url(./qq.png);} .m-ie-browser .m-ie-360{background-image: url(./360.png);} .m-ie-browser .maxthon{background-image: url(./maxthon.png);} .m-ie-browser .uc{background-image: url(./uc.png);} .m-ie-small-alert{font-size:12px;margin:15px 0 8px;color:#90949c} .m-ie-small-alert:not(.hide)+hr{margin-top:0} .m-ie-hide{display:none}
</style>
<div class="m-ie">
    <h1>您的浏览器存在安全隐患</h1>
    <p>你正在使用 Internet Explorer 的早期版本（IE11以下版本 或使用该内核的浏览器）。这意味着在升级浏览器前，你将无法访问此网站。</p>
    <p>如果您正在使用360浏览器、QQ浏览器、搜狗浏览器等，可以尝试使用该浏览器的极速模式。</p>
    <hr>
    <h2>更先进的浏览器</h2>
    <p>推荐使用以下浏览器的最新版本。如果你的电脑<strong>已有以下浏览器的最新版本则直接使用该浏览器访问</strong><b id="referrer"></b>即可。</p>
    <ul class="m-ie-browser">
      <li class="m-ie-chrome"><a href="https://api.shuax.com/tools/getchrome">谷歌浏览器</a></li>
      <li class="m-ie-firefox"><a href="https://www.mozilla.org/zh-CN/firefox/new/">火狐浏览器</a></li>
    </ul>
    <hr>
    <h2>请注意：Windows XP 及 Internet Explorer 早期版本的支持已经结束</h2>
    <p>自 2016 年 1 月 12 日起，Microsoft 不再为 IE 11 以下版本提供相应支持和更新。没有关键的浏览器安全更新，您的 PC 可能易受有害病毒、间谍软件和其他恶意软件的攻击，它们可以窃取或损害您的业务数据和信息。请参阅 <a href="https://www.microsoft.com/zh-cn/WindowsForBusiness/End-of-IE-support">微软对 Internet Explorer 早期版本的支持将于 2016 年 1 月 12 日结束的说明</a> 。</p>
    <hr>
</div>
<![endif]-->
